# Discord Bot Token
DISCORD_TOKEN=your_discord_bot_token_here

# Bot Command Prefix (Default: !)
BOT_PREFIX=!

# Trakt.tv API Key
TRAKT_API_KEY=your_trakt_api_key_here

# TMDB API Key (Used for fetching posters)
TMDB_API_KEY=your_tmdb_api_key_here